{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}
{% block breadcrumbs %}{% csrf_token %}

<html>
<head>

<script type="text/javascript" src="js/script.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>    
    
    function myFunction(){
    	var valueSelected=$("#id_kobotool_survey_id option:selected").text();
    	console.log(valueSelected);
    	if(valueSelected != "Select"){
    		window.location="/admin/surveyreport/"+valueSelected;	
    	}    	
    }  
    
</script>
</head>
<body>
	<br><br>
	<br><br>
	
	<div id="kobosurvey" align="left" style = "margin-left:5%;">
		Kobo Toolbox Survey : {{form.kobotool_survey_id}}
		
		<input  style="width:195px;-ms-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box; box-sizing:content-box;" 
		type="submit" name="Save" value="Save"  onclick="myFunction()"/>
		
	</div>	
	
	<br><br>
	<div style="overflow-x:auto;">
	<table width=90% style="margin-left:5%; margin-right:5%;" >
        {% for val in kobodata.items.0 %} 
        	{% for key1,val1 in val.items %}        		
        		<th> {{key1}} </th>
        	{% endfor %}        	      	
        {% endfor %} 
        
        {% for key,val in kobodata.items %}   
        	<tr>        		
        	{% for key1,val1 in val.items %}   
        		<td> {{val1}} </td>
        	{% endfor %}
        	</tr>
        {% endfor %}  
        
       
    </table>
</div>
</body>
</html>
{% endblock %}
{% block content %}
{% endblock %}
{% block sidebar %}
{% endblock %}